* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

content {
  max-width: 375px;
}

.container {
  width: 375px;
  display: grid;
  margin-inline: auto;
  background-color: hsl(226deg, 43%, 10%);
}

.data {
  height: 6.5rem;
  border-radius: 10px;
  background-color: #1c1f4a;
}

.box {
  margin-inline: 22% 22%;
  width: 70%;
  max-width: 210px;
  height: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}

.person {
  margin-top: 3rem;
  background-color: #1c1f4a;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.self-care {
  margin-bottom: 3rem;
}

.days {
  height: 5rem;
  width: 100%;
  border-radius: 15px;
  background-color: hsl(246deg, 80%, 60%);
  display: flex;
}

.element {
  width: 375px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: column;
}

svg {
  overflow: hidden;
}

.work {
  background-color: hsl(15deg, 100%, 70%);
}

.play {
  background-color: hsl(195deg, 74%, 62%);
}

.study {
  background-color: hsl(348deg, 100%, 68%);
}

.exercise {
  background-color: hsl(145deg, 58%, 55%);
}

.social {
  background-color: hsl(264deg, 64%, 52%);
}

.self-care {
  background-color: hsl(43deg, 84%, 65%);
}

.text {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline-start: 0;
  padding-inline-end: 10px;
}

li {
  display: inline-block;
  width: inherit;
  color: hsl(236deg, 100%, 87%);
  text-align: center;
}

li:hover {
  color: white;
  cursor: pointer;
}

.jeremy-img {
  height: 70%;
  position: relative;
  left: 10%;
  top: 15%;
}

img {
  max-width: 60px;
  max-height: 60px;
  border: 3px solid white;
  border-radius: 100%;
}

.user {
  position: relative;
  left: 13%;
  top: 28%;
  font-size: small;
}

.user p {
  color: #b9bce4;
}

.user h3 {
  color: white;
  font-weight: 100;
}

.data-text {
  position: relative;
  left: 20px;
  top: 25px;
  color: white;
}

.data-text p {
  margin-top: 5px;
  font-size: x-large;
}

.svg-n-other-datas {
  position: relative;
  top: -30%;
  right: 20px;
  text-align: right;
  overflow: hidden;
}

.svg-n-other-datas p {
  color: hsl(236deg, 100%, 87%);
  position: relative;
  font-size: x-small;
  padding-top: 10px;
  margin-top: 8px;
}

.data:active {
  background-color: #2a2f6f;
  cursor: pointer;
}

.svg:hover {
  cursor: pointer;
  filter: brightness(100);
}

@media screen and (min-width: 1020px) {
  .svg-n-other-datas {
    overflow: visible;
    top: -40%;
  }
  .svg-n-other-datas p {
    top: 80px;
    width: 200px;
    text-align: left;
    padding-left: 40px;
  }
  #dataTextWork {
    font-size: 45px;
  }
  #dataTextPlay {
    font-size: 45px;
  }
  #dataTextStudy {
    font-size: 45px;
  }
  #dataTextExercise {
    font-size: 45px;
  }
  #dataTextSocial {
    font-size: 45px;
  }
  #dataTextSelfCare {
    font-size: 45px;
  }
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    min-height: calc(400px + 1rem);
    min-width: calc(800px + 3rem);
  }
  .exercise {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .person {
    grid-row-start: 1;
    grid-row-end: 3;
    min-height: calc(400px + 1rem);
  }
  .box {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .data {
    top: 5px;
    height: 180px;
  }
  .element {
    height: 800px;
    width: 1200px;
    background-color: hsl(226deg, 43%, 10%);
    margin: 15vh auto;
    display: flex;
    place-content: center;
    align-items: center;
  }
  .days {
    height: 17rem;
    flex-direction: column;
  }
  .user p {
    font-weight: bolder;
    color: #b9bce4;
  }
  .user h3 {
    font-size: xx-large;
  }
  .text {
    flex-direction: column;
    gap: 15%;
    justify-content: flex-start;
    height: calc(400px - 16rem);
  }
  .jeremy-img {
    top: 1.5rem;
  }
  li {
    text-align: left;
    padding-left: 2rem;
  }
  #daily {
    padding-top: 1.5rem;
  }
  .data-text {
    left: 15px;
  }
  .dataText {
    padding-top: 1rem;
    font-size: 20px;
  }
}
footer {
  color: azure;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */